# === Eclipse ===
.project
.classpath
.settings/
bin/

# === IntelliJ IDEA ===
.idea/
*.iml

# === Java ===
*.class
*.jar
*.war
*.ear

# === Build tools ===
target/
.gradle/
build/

# === OS ===
.DS_Store
Thumbs.db
